In [2]:
import numpy as np
import pandas as pd

In [11]:
#get all the data from the csv file
df = pd.read_csv('../dataset/breast-cancer-wisconsin.data', header=None)
df.replace('?', 5, inplace=True)
df.drop([0], axis=1, inplace=True)
df

1     5
2     1
3     1
4     1
5     2
6     1
7     3
8     1
9     1
10    2
Name: 0, dtype: object

     1   2   3   4   5   6   7   8   9   10
0     5   1   1   1   2   1   3   1   1   2
1     5   4   4   5   7  10   3   2   1   2
2     3   1   1   1   2   2   3   1   1   2
3     6   8   8   1   3   4   3   7   1   2
4     4   1   1   3   2   1   3   1   1   2
..   ..  ..  ..  ..  ..  ..  ..  ..  ..  ..
694   3   1   1   1   3   2   1   1   1   2
695   2   1   1   1   2   1   1   1   1   2
696   5  10  10   3   7   3   8  10   2   4
697   4   8   6   4   3   4  10   6   1   4
698   4   8   8   5   4   5  10   4   1   4

[699 rows x 10 columns]

In [8]:
#shuffle the data
df = df.sample(frac=1)

#split the data into training and testing
x = np.array(df.drop([10], axis=1),int)
y = np.array(df[10],int)
print(x[0], y[0])
test_size = int(len(x) * 0.3)
print(x.shape, y.shape, test_size)
#split the data into training and testing
x_test = x[:test_size]
y_test = y[:test_size]

x_train = x[test_size:]
y_train = y[test_size:]

print(x_train.shape, y_train.shape, x_test.shape, y_test.shape)

     1   2   3   4   5  6   7   8   9   10
595   5   1   1   1   2  1   2   1   1   2
347   1   1   1   1   1  1   1   3   1   2
429   2   1   1   1   2  1   2   1   1   2
427   8   7   8   2   4  2   5  10   1   4
3     6   8   8   1   3  4   3   7   1   2
[5 1 1 1 2 1 2 1 1] 2
(699, 9) (699,) 209
(490, 9) (490,) (209, 9) (209,)

In [7]:
#finding the distribution of the data
print("from dataset distribution, benign(2): 65.5%, malignant(4): 34.5%")
print("trainning data distribution")
unique, counts = np.unique(y_train, return_counts=True)
print(unique, counts)
print(100*counts[0]/y_train.shape[0], 100*counts[1]/y_train.shape[0])

print("testing data distribution")
unique, counts = np.unique(y_test, return_counts=True)
print(unique, counts)
print(100*counts[0]/y_test.shape[0], 100*counts[1]/y_test.shape[0])

from dataset distribution, benign(2): 65.5%, malignant(4): 34.5%
trainning data distribution
[2 4] [321 169]
65.51020408163265 34.48979591836735
testing data distribution
[2 4] [137  72]
65.55023923444976 34.44976076555024

In [8]:
#not used
#distant function
# def minkowski_distance(x1, x2, p):
#     return np.sum(np.abs(x1 - x2) ** p, axis=1) ** (1 / p)

# #knn function
# def knn(k, p):
#     y_pred = []
#     for i in range(x_test.shape[0]):
#         print(x_train[1], x_test[i].shape)
#         distance = minkowski_distance(x_train, x_test, p)
#         distance = np.array(distance)
#         distance = np.argsort(distance)
#         distance = distance[:k]
#         y_pred.append(np.bincount(y_train[distance]).argmax())
#     return y_pred

In [9]:
def minkowski_distance(x1, x2, p):
    return np.sum(np.abs(x1 - x2) ** p, axis=1) ** (1 / p)

#knn function
def knn(k, p):
    y_pred = []
    for i in range(x_test.shape[0]):
        distance = minkowski_distance(x_train, x_test[i], p)
        distance = np.array(distance)
        distance = np.argsort(distance)
        distance = distance[:k]
        y_pred.append(np.bincount(y_train[distance]).argmax())
    return y_pred

In [10]:
#testing the model
y_pred = knn(7, 2)
#compare the prediction with the actual result
countError = 0
for i in range(len(y_pred)):
    if(y_pred[i] != y_test[i]):
        countError += 1
        print("prediction: ",y_pred[i], "actual: ",y_test[i])
print("error: ", countError, "total: ", len(y_pred))
#calculate the accuracy
accuracy = np.sum(y_pred == y_test) / len(y_test)
print("accuracy: ", accuracy)

prediction:  2 actual:  4
prediction:  4 actual:  2
prediction:  2 actual:  4
error:  3 total:  209
accuracy:  0.9856459330143541